<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      img {
        margin: auto;
        display: BLOCK;
      }
      body{
        background: url("./coding.png");
        margin: 0;
        padding: 0;
        height: 100vh;
      }
      h1{
        text-align: center;
        color: red;
        font-family:cursive;
        font-style: italic;
        font-size: 6rem;
      }
    </style>
  </head>
  <body>
 
<img src="./codemania_img.png" height="300" width="500" alt="">    
  </body>
</html>
