.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.heading{
  font-size: 2em;
}
.paragraph{
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  font-family: 'Noto Sans', sans-serif;

}
.platform_name{
font-weight: bold;
margin-left: 4px;
font-size: 22px;
}


.nav-items{
  box-sizing: border-box;
  height: 56px;
  width: 70%;
  margin-left: 26px;
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;

    font-style: normal;
    line-height: 14px;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
  }

.bg-nav {
  background: #f7e3f5;
}

.main-nav{
  position: sticky;
  top:0;
  z-index: 1;
}
*{
  margin: 0;
  padding: 0;
}

.profile-icon{
  border-radius: 0;
}